body{
    height: 1900px;
}

.header{
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 30px 50px 20px 30px;
}

.logo{
    font-size: 50px;
    color: red;
    display: inline-block;
    margin-right: 50px;
    margin-left: 20px;
    vertical-align: middle;
    font-weight: bold;
}

.nav{
    display: inline-block;
    vertical-align: middle;
}

li{
    color: black;
    display: inline-block;
}

li a{
    font-family: 'Odibee Sans', cursive;
    font-size: 25px;
    margin-right: 50px;
}

/* first section*/
.sec1{
    width: 1550px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 70px;
}

.trending{
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 70px;

}

.porto{
    display: inline-block;
    margin-left: 70px;
    position: relative;
}

.berlin{
    transform: translateY(-50%);
    transform: translateX(-50%);
    top: 40%;
    left: 40%;
    position: absolute;
    color: white;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.photo1{
    width: 390px;
    height: 230px;
    border-radius: 2%;
    display: inline-block;
    margin-right: 50px;
}

.lorem{
    width: 250px;
    height: 70px;
}
.loremtext{
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 30px;
    margin-left: 110px;
    margin-right: 150px;
    color: grey;
    font-family: cursive;
}

.clock{
    display: inline-block;
    margin-left: 150px;
    margin-top: 1px;
    font-size: 10px;
}
.clock1{
    display: inline-block;
    margin-left: 450px;
    margin-top: 1px;
    font-size: 10px;
    
}

.clock2{
    display: inline-block;
    margin-left: 450px;
    margin-top: 1px;
    font-size: 10px;
}

.sec2{
    width: 1550px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.happen{
    font-weight: bold;
    font-size: 30px;
    margin-left: 70px;
}

.div1{
    height: 1000px;
    width: 800px; 
    display: inline-block;
}

.music{
    width: 780px;
    height: 460px;
    border-radius: 2%;
    display: block;
    margin-left: 70px;
}

.cat{
    width: 780px;
    height: 460px;
    border-radius: 1%;
    display: block;
    margin-top: 20px;
    margin-left: 70px;
}

.div2{
    vertical-align: top;
    display: inline-block;
    height: 1000px;
    width: 500px; 
    margin-left: 40px;

}

.cafe{
    width: 390px;
    height: 230px;
    border-radius: 2%;
    margin-left: 70px;
    margin-bottom: 60px;
}

.girl{
    width: 390px;
    height: 230px;
    border-radius: 2%;
    margin-left: 70px;
    margin-bottom: 60px;
}

.dog{
    width: 390px;
    height: 230px;
    border-radius: 2%;
    margin-left: 70px;
}

.footer{
    width: 100%;
    height: 230px;
    background-color: lightslategray;
}

.conteiner{
    width: 1600px;
    margin: 0 auto;
}

.whitelogo{
    height: 10px;
    width: 40px;
    color: aliceblue;
    font-size: 13px;
    display: inline-block;
    margin-top: 70px;
    font-weight: bold;
    margin-right: 100px;
}

.container2{
    display: inline-block;
    height: 50px;
    height: 40px;
    margin-top: 70px;
    margin-right: 800px;

}

.home, .discovery, .photos, .contact{
    display: block;
    color: aliceblue;
    font-size: 13px;
    padding-bottom: 5px;
    font-weight: bold;
    
}

.icons{
    width: 300px;
    display: inline-block;
    
}

.insta{
    color: aliceblue;
    padding: 20px;
}
